<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Register</h2>
    <form method="POSt" action="/act">
        <table>
            <tr>
                <td><label>Email</label></td>
                <td> <input type="text" name="em1" id="em1" placeholder="Email"> </td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td> <input type="text" name="pass" id="em1" placeholder="Password"> </td>
            </tr>
            <tr>
                <td><button type="submit">Register</button></td>
            </tr>
        </table>
    </form>
</body>
</html>