<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Get In Touch</h1>
    <form method="post" action="daction">
       <table style="color: red;">
           
     <tr>
        <td>
                Name:
                <input type="text" name="nam1" id="" placeholder="Enter Name">
           </td>
        </tr>
           
            <tr>
                <td>
                Email:
              
                <input type="text" name="email" id="" placeholder="Enter Email">
            </td>
       
           </td>
        </tr>
         
            <tr>
                <td>
                Phone Number:
               
                <input type="text" name="pno" id="" placeholder="Enter Phone Number">

            </td>
          
            </tr>
          
            <tr>
                
                <td>
                Gender:
                <input type="radio" name="g" id="" value="male">Male
                <input type="radio" name="g" id="" value="female">Female
         
           </td>
        </tr>
        <tr>
            <td>
                Place:
                <input type="text" name="place" id="" placeholder="Place">
            </td>
        </tr>
        
            <tr>
                <td>
              <button type="submit">SEND</button>
            
           
           </td>
        </tr>
       </table>

    </form>
</body>
</html>